.FooterContainer{
    width: 100%;
    background: #ECEFF1;
    color: #1F215C;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    min-height: fit-content;
    .Container{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        .row{
            display: flex;
            align-items: center;
            justify-content: center;
            .Address{
                width: 50%;
                align-items: center;
                justify-content: center;
                padding: 0 3rem;
                img{
                    height: 8vh;
                    object-fit: contain;
                    margin: 1rem 0;
                    image-rendering: auto;
                    image-rendering: crisp-edges;
                    image-rendering: pixelated;
                    image-rendering: -webkit-optimize-contrast;
                }
            }
            .email{
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 5rem;
                flex-direction: column;
                .socials{
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    a{
                        text-decoration: none;
                        color: black;
                        i{
                            color: black !important;
                            font-size: 40px;
                            margin: 0 1rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width : 1000px) {
    .FooterContainer{
        padding: 0rem 0 !important;
        min-height: 100vh !important;
        .row{
            flex-direction: column;
            .Address{
                width: 80% !important;
                
            }
            .email{
                width: 80% !important;
                p{
                    
                }
            }
            .socials{
            width: 100% !important;
            margin-left: 0 !important;
            justify-content: start !important;
            
        }
        
    }
    
}
}