// @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Poppins&display=swap');

// body{
//   overflow-x: hidden;
// }
// h1{
//   font-size: 40px;
//   line-height: 60px;
//   font-weight: 800;
//   font-family: 'Manrope', sans-serif;

// }
// p{
//   font-size: 18px;
//   line-height: 32px;
//   font-family: 'Poppins', sans-serif;

// }
// img{
//   image-rendering: crisp-edges;
//   image-rendering: pixelated;

//   /* Safari seems to support, but seems deprecated and does the same thing as the others. */
//   image-rendering: -webkit-optimize-contrast;
// }
// h5{
//   font-size: 25px;
//   // line-height: 36px;
//   font-weight: 800;
//   font-family: 'Manrope', sans-serif;

  
// }
// h3{
//   font-size: 36px;
//   line-height: 50px;
//   font-weight: 800;
//   font-family: 'Manrope', sans-serif;

  
// }
// button{
//   background: #F68C33;
//   border-radius: 10px;
//   border: none;
//   outline: none;
//   padding: 1rem 2rem;
//   font-size: 20px;
//   font-weight: bold;
//   color: white;
//   cursor: pointer;
// }
// // .mainContainer{
// //   display: flex;
// //   align-items: center;
// //   justify-content: center;
// //   width: 100%;
// //   min-height: 100vh;
// // }
// //  .Container{
// //   width: 80%;
// //   display: flex;
// //   align-items: center;
// //   justify-content: center;
// //   flex-direction: column;
// //   height: 100%;
// // }

// @media screen and (max-width : 1000px) {
  
//       h1{
//           font-size: 35px !important;
//           line-height: normal !important;
//       }
     
//   }


h1{
  font-size: 40px;
}
p{
  font-size: 18px;
}
h5{
  font-size: 25px;
}
h3{
  font-size: 30px;
}